James Lu <CrazyPython@users.noreply.github.com> <CrazyPython@users.noreply.github.com>
James Lu <jamtlu@gmail.com> <CrazyPython@users.noreply.github.com>
Casper da Costa-Luis <casper@caspersci.uk.to> <tqdm@caspersci.uk.to>
Casper da Costa-Luis <casper.dcl@physics.org> <tqdm@caspersci.uk.to>
